* { margin: 0; padding: 0; }
body {
	background-color: #412277;
}
header{
    color: white;
    text-align: center;
}
header h1{
    padding: 15px;
}
main{
    display: flex;
    justify-content: center;
}
#container{
    background-color: white;
    width: 28%;
    min-width: 340px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
#write {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    width: 90%;
}
#local-area{
    display: flex;
    justify-content: center;
}
#area{
    width: 90%;
    height: 190px;
}
.space{
    width: 90%;
    margin: 15px 15px;
}
.spacep{
    margin: 5px 0 25px 15px;
}
.media{
    display: flex;
    justify-content: left;
}